.header {
   padding: 5px;
   margin: 5px 0px;
   grid-area: h;
   display: flex;
   background-color: #d55845;
   border-radius: 5px;
   &__logo {
   }
   &__search {
   }
   &__nav {
      display: flex;
      div {
         a {
            color: white;
         }
         a:focus {
            color: gold;
         }
         a:active {
            color: gold;
         }
         margin: 5px;
      }
   }
   &__logoProfile {
   }
   img {
      width: 35px;
   }
}
