.header {
   padding: 5px;
   margin: 5px 0px;
   grid-area: h;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #d55845;
   border-radius: 5px;
   .LogoAndSearch {
      display: flex;
      .Logo {
       
      }
      .Search {
       
      }
   }

   .Nav {
      display: flex;
      padding: 0px 0px;
      div {
         a {
            color: white;
         }
         a:focus {
            color: gold;
         }
         a:active {
            color: gold;
         }
         margin: 5px;
      }
   }
   .logoProfile {
   }
   img {
      width: 35px;
   }
}
