.main {
   padding: 10px;
   input {
      margin: 5px;
      width: 98.5%;
      height: 30px;
      text-align: center;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      border-radius: 5px;
   }
   .Numb_page_div {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin: 5px;
      overflow: hidden;
      max-width: 620px;
      .PageNumb {
         background-color: #f2f2f2;
         margin: 0px 5px;
         padding: 10px;
         border-radius: 5px;
         border-width: 1px;
         border-style: solid;
         border-color: rgba(0, 0, 0, 0.226);
      }
      .PageNumb:active {
         background-color: #00000048;
      }
      .activePageNumb {
         font-weight: bold;
         background-color: #d55845;
      }
   }

   .gridArea {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}
