.News {
   padding: 5px;
   margin-top: 10px;
   margin-right: 20px;
   margin-left: 20px;
   grid-area: mc;
      .newNews {
         display: flex;
         background-color: #fd8674bd;
         margin: 10px;
         padding: 10px;
         border-radius: 5px;
         textarea{
            resize: none;
            width: 100%;
            border-radius: 5px;
            padding: 5px 10px;
         }
         button {
            background-color: #f2f2f2;
            border-radius: 10px;
            width: 100px;
            margin: 5px 0px 5px 5px;
            padding: 10px;
         }
      }
   .button {
      //background-color: #fd8674;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
   }
}
