body {
   background-color: #f2f2f2;
   .container {
      display: grid;
      width: 1200px;
      margin: 0px auto;
      grid-template-areas:
         "h h h"
         "ml mc r";

      grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      /* grid-gap: 10px; */

      .header {
         padding: 5px;
         margin: 5px;
         grid-area: h;
         display: flex;
         background-color: #d55845;
         .header__logo {
         }
         .header__search {
         }
         .header__nav {
            display: flex;
            div {
               margin: 5px;
            }
         }
         .header__logo-profile {
         }
         img {
            width: 35px;
         }
      }
      .main__profile-left-nav {
         padding: 5px;
         margin: 5px;
         grid-area: ml;
         background-color: #d55845;
         .main__profile-left-nav__ava {
            background-color: cadetblue;
         }
         .main__profile-left-nav__contacts {
            background-color: chocolate;
         }
         .main__profile-left-nav__following {
            background-color: cornsilk;
         }
         .main__profile-left-nav__followers {
            background-color: darkgray;
         }
         .main__profile-left-nav__link-profile {
         }
      }
      .main__center-news {
         padding: 5px;
         margin: 5px;
         grid-area: mc;
         background-color: white;
         .main__center-news__post {
         }
         .main__center-news__column {
         }
      }
      .Main__right-bar {
         padding: 5px;
         margin: 5px;
         grid-area: r;
         background-color: white;
         .Main__right-bar__top-jobs {
         }
      }
   }
}
