.Dialogs {
   display: grid;
   grid-template-columns: 3fr 7fr;
   background-color: white;
   padding: 5px;
   margin-top: 20px;
   margin-right: 20px;
   margin-left: 20px;
   .Dialog {
      // border-right-width: 5px;
      // border-right-color: #d55845;
      .item {
         background-color: #d55845;
         margin: 10px;
         padding: 10px;
         border-radius: 5px;
         .avatar {
         }
         .name {
         }
      }
   }
   .Messages {
      &Itam {
         background-color: #d55845;
         margin: 10px;
         padding: 10px;
         border-radius: 5px;
      }
   }
}
