.Followers {
   text-align: center;
   font-size: larger;
   background-color: #fff;
   padding: 15px 0px;
   margin-bottom: 2px;
   .FollowersName {
      color: #aaaaac;
      margin-bottom: 5px;
   }
   .FollowersCanc {
   }
}
